<div class="card">
  <div class="top">
    <img [src]="dessert.image.desktop" [alt]="dessert.name" />

    <button class="btn btn--add d-none">
      <img src="assets/images/icon-add-to-cart.svg" alt="cart" />
      <p>Add to Cart</p>
    </button>

    <button class="btn btn--add btn--quanity">
      <div class="btn--dec">
        <p>-</p>
      </div>
      <div class="quantity">4</div>
      <div class="btn--inc">
        <p>+</p>
      </div>
    </button>
  </div>

  <div class="description">
    <p class="dessert-category">{{ dessert.category }}</p>
    <p>{{ dessert.name }}</p>
    <div class="price">${{ dessert.price }}</div>
  </div>
</div>
