.card {
    width: 100%;
    margin-bottom: 2rem;
}

.card .top {
    width: 100%;
    margin-bottom: 2.5rem;
    position: relative;
}

.card .top img {
    width: 100%;
    border-radius: 12px;

}

.card .btn--add {
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.card .top button img {
    width: 16px;
    height: 16px;
}

.btn--quanity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-red);
    border: var(--color-red);

    color: var(--rose-50);
}


.btn--dec,
.btn--inc {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--rose-50);
    border-radius: 100%;
}