:root {
    /* Layout breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    /* Primary colors */
    --color-red: hsl(14, 86%, 42%);
    --color-green: hsl(159, 69%, 38%);

    /* Rose shades */
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    /* Typography */
    --font-family-base: 'RedHatText', sans-serif;

    --font-size-base: 16px;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

@font-face {
    font-family: 'RedHatText';
    src: url('../src/app/assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatText';
    src: url('../src/app/assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatText';
    src: url('../src/app/assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--rose-900);
    background-color: var(--rose-50);
}

.dessert-page {
  display: flex;
  gap: 20px;
  align-items: space-between;
  max-width: 1200px;
  margin: 50px auto;
}

/* TEXT */

p {
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    color: var(--rose-900);
}

h2 {
    font-size: 28px;
    color: var(--color-red);
}

h3 {
    font-size: 28px;
    color: var(--rose-900);
}



.dessert-category {
    font-size: 14px;
    color: var(--rose-300);
}

.price,
.count {
    color: var(--color-red);
    font-weight: var(--font-weight-bold);
}

.span-regular {
    color: var(--rose-500);
}

.span-semibold {
    color: var(--rose-500);
    font-weight: var(--font-weight-semibold);
}

/* button */

button {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}

.btn {
    padding: 0.6rem 0rem;
    border-radius: 24px;
    border: none;
}



.btn--add {
    width: 150px;
    border-radius: 24px;
    border: 1px solid var(--rose-400);
    background-color: white;
    cursor: pointer;
    color: var(--rose-900);
    font-weight: var(--font-weight-semibold);
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    /* For aligning icon and text */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn--add:hover {
    border-color: var(--color-red);
    color: var(--color-red);
}

.btn--confirm {
    background-color: var(--color-red);
    color: white;
    border: none;
    width: 100%;
    padding: 1rem;
}

app-dessert-item {
    display: block;
    width: 100% ;
}

.d-none {
    display: none;
}




/* cart styles */
.cart {
  background: #fff;
  padding: 20px 20px 40px 20px;
  border-radius: 10px;
  width: 400px;
}

.cart-empty {
  text-align: center;
  color: var(--rose-500);
}

.cart-empty img {
  margin: 40px 0 20px;
}
